alloy:
  enabled: false

loki:
  enabled: false
  minio:
    enabled: false

localpv-provisioner:
  hostpathClass:
    isDefaultClass: false

zfs-localpv:
  enabled: false

lvm-localpv:
  enabled: false

mayastor:
  enabled: false

engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
